[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyathena = "*"
nose2 = "*"

[packages]
boto3 = "~=1.9.75"
requests = "*"
contentful = "*"
contentful-management = "*"

[requires]
python_version = "3.7"
